@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 20px;
}

.color-container,
.category-container {
  margin: 0 10px;
}

#category-select {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

#color-scheme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 180px); /* Subtract header and input container heights */
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.color {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80;
  width: 1000px; /* Adjust the width as desired */
  height: calc((100vh - 0px) / 1.5); /* Adjust the height as desired */
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px; /* Add desired bottom margin space */
}

.color p {
  color: white;
  text-align: center;
  background-color: #000000;
  border-radius: 5px;
  padding: 0 15px;
}

h2 {
  margin: 10px 0;
}

input[type=color] {
  height: 25px;
  width: 60px;
}

#generate-button {
  background-color: #000000;
  color: #fff;
  border-radius: 12px;
  font-size: 12px;
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
}

label {
  display: block;
  margin-bottom: 0;
}

#tips-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.937); /* Updated with transparency */
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  z-index: 999;
}

#tips-container::before {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border: 12px solid transparent;
  border-bottom-color: #000;
}

#tips-content {
  margin: 0;
  padding: 0;
}

#tips-content h3 {
  margin: 0 0 10px;
}

#tips-content ol {
  padding-left: 20px;
}

#tips-content li {
  margin-bottom: 5px;
}

#tips-container .fab {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #fc0380;
}

@media (max-width: 768px) {
  #color-scheme {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  #generate-button {
    background-color: #000000;
    color: #fff;
    border-radius: 12px;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    padding: 0 12px;
  }
  .color {
    width: calc((100vh - 0px) / 1.5);
    margin: 0;
  }
}
.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.copy-message {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.617);
  color: white;
  padding: 5px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.color-value {
  position: relative;
}

.color-value:hover .copy-message {
  opacity: 1;
}

@media (max-width: 767px) {
  .copy-message {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */