* {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #000;

}

.input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eeeeee;
  padding: 20px;
  width: auto;
}

.color-container,
.category-container {
  margin: 0;

}

#category-select {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  margin-bottom: 80px;
  margin-left: 50px;
  margin-right: 50px;

}

#color-scheme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 180px);

}

.color {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80;
  width: 700px;
  height: calc((100vh - 0px) / 1.5);
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.color p {
  color: white;
  text-align: center;
  background-color: #000000;
  border-radius: 5px;
  padding: 0 15px;
}

h2 {
  margin: 10px 0;
}

input[type=color] {
  height: 25px;
  width: 60px;
}

#generate-tip{
  padding:1px 1px;
  margin: 5px;
}

#generate-button {
  background-color: #000000;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 0 4px 8px #000000b7;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Set a higher z-index value */
}

#generate-button::before {
  content: "";
  position: absolute;
  background-color: rgb(109, 0, 100);
  color: #ffffff;
  width: 0px;
  height: 0px;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.6s, height 0.6s;
  z-index: -1; /* Set a lower z-index value */
}

#generate-button:hover::before {
  width: 300px;
  height: 300px;
}

label {
  display: block;
  margin-bottom: 0;
}

#tips-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  border-radius: 12px;
  z-index: 999;
}

#tips-container::before {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border: 12px solid transparent;
  border-bottom-color: #000;
}

#tips-content {
  margin: 0;
  padding: 0;
}

#tips-content h3 {
  margin: 0 0 10px;
  font-weight: 400;
}

#tips-content ol {
  padding-left: 20px;
}

#tips-content li {
  margin-bottom: 5px;
  font-weight: 250;

}


@media (max-width: 768px) {
  #color-scheme {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    height: calc((100vh - 100px) / 1.3);
  }
  #generate-button {
    background-color: #000000;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 0 4px 8px #000000b7;
    text-decoration: none;
    color: rgb(221, 221, 221);
    text-align: center;
  }
  #generate-button::before {
    content: "";
    position: absolute;
    background-color: rgb(109, 0, 100);
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.6s, height 0.6s;
  }
  
  #generate-button:hover::before {
    width: 300px;
    height: 300px;

  }
  .color {
    width: calc((100vh - 0px) / 1.7);
    margin: 0;
  }
}


.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.copy-message {
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.617);
  color: white;
  padding: 5px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.color-value {
  position: relative;
}

.color-value:hover .copy-message {
  opacity: 1;
}

@media (max-width: 767px) {
  .copy-message {
    display: none;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */